<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LogIn</title>
  </head>
  <body>
    <h1>Login</h1>
    <form action="/user/login" method="POST">
      <label>Email</label>
      <input type="text" required name="email" />
      <label>Password</label>
      <input type="password" required name="password" />
      <button type="submit">LogIn</button>
    </form>

    <% if (locals.error) { %>
    <p style="color: red"><%= locals.error %></p>
    <% } %>

    <p>Don't have an account? <a href="/signup">Sign Up</a></p>
    <p>Go to <a href="/">Home</a></p>
  </body>
</html>
